@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform:rotate(360deg);
    }
  }
  .loading {
    width:120px;
    height:120px;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius:50%;
    position:absolute;
    left:50%;
    top:50%;
    margin: -76px 0 0 -76px;
    animation: rotate 1s infinite;
  }
  *{
    font-family:sans-serif;
  }